<div class="bg-white flex flex-col text-center justify-center px-20 py-12 space-y-20">

  <div class="flex justify-evenly">

    <!-- card -->
    <div class="w-[300px] h-[400px] bg-gray-200 rounded-4xl relative">
      <img class="w-[300px] h-[400px] object-cover rounded-4xl" src="assets/images/girl1.jpg">
      <div class="absolute bg-opacity-80 backdrop-blur-sm border-2 text-white text-left pl-4
      bottom-6 mx-auto rounded-2xl left-0 right-0 flex flex-col 
      justify-center space-y-2 py-6 w-[250px]">
        Maria Nolan
      </div>
    </div>

    <div class="w-[300px] h-[400px] bg-gray-200 rounded-4xl relative">
      <img class="w-[300px] h-[400px] object-cover rounded-4xl" src="assets/images/girl2.jpg">
      <div class="absolute bg-opacity-80 backdrop-blur-sm border-2 text-white text-left pl-4
      bottom-6 mx-auto rounded-2xl left-0 right-0 flex flex-col 
      justify-center space-y-2 py-6 w-[250px]">
        Rose McLean
      </div>
    </div>

    <div class="w-[300px] h-[400px] bg-gray-200 rounded-4xl relative">
      <img class="w-[300px] h-[400px] object-cover rounded-4xl" src="assets/images/girl3.jpg">
      <div class="absolute bg-opacity-80 backdrop-blur-sm border-2 text-white text-left pl-4
      bottom-6 mx-auto rounded-2xl left-0 right-0 flex flex-col 
      justify-center space-y-2 py-6 w-[250px]">
        Sonia Kerr
      </div>
    </div>

    <div class="w-[300px] h-[400px] bg-gray-200 rounded-4xl relative">
      <img class="w-[300px] h-[400px] object-cover rounded-4xl" src="assets/images/girl4.jpg">
      <div class="absolute bg-opacity-80 backdrop-blur-sm border-2 text-white text-left pl-4
      bottom-6 mx-auto rounded-2xl left-0 right-0 flex flex-col 
      justify-center space-y-2 py-6 w-[250px]">
        Una Gover
      </div>
    </div>

    <div class="w-[300px] h-[400px] bg-gray-200 rounded-4xl relative">
      <img class="w-[300px] h-[400px] object-cover rounded-4xl" src="assets/images/girl5.jpg">
      <div class="absolute bg-opacity-80 backdrop-blur-sm border-2 text-white text-left pl-4
      bottom-6 mx-auto rounded-2xl left-0 right-0 flex flex-col 
      justify-center space-y-2 py-6 w-[250px]">
        Vanessa Gray
      </div>
    </div>

  </div>

  <div class="flex justify-evenly">

    <!-- card -->
    <div class="w-[300px] h-[400px] bg-gray-200 rounded-4xl relative">
      <img class="w-[300px] h-[400px] object-cover rounded-4xl" src="assets/images/girl6.jpg">
      <div class="absolute bg-opacity-80 backdrop-blur-sm border-2 text-white text-left pl-4
      bottom-6 mx-auto rounded-2xl left-0 right-0 flex flex-col 
      justify-center space-y-2 py-6 w-[250px]">
        Wanda Fisher
      </div>
    </div>

    <div class="w-[300px] h-[400px] bg-gray-200 rounded-4xl relative">
      <img class="w-[300px] h-[400px] object-cover rounded-4xl" src="assets/images/girl7.jpg">
      <div class="absolute bg-opacity-80 backdrop-blur-sm border-2 text-white text-left pl-4
      bottom-6 mx-auto rounded-2xl left-0 right-0 flex flex-col 
      justify-center space-y-2 py-6 w-[250px]">
        Victoria Ellison
      </div>
    </div>

    <div class="w-[300px] h-[400px] bg-gray-200 rounded-4xl relative">
      <img class="w-[300px] h-[400px] object-cover rounded-4xl" src="assets/images/girl8.jpg">
      <div class="absolute bg-opacity-80 backdrop-blur-sm border-2 text-white text-left pl-4
      bottom-6 mx-auto rounded-2xl left-0 right-0 flex flex-col 
      justify-center space-y-2 py-6 w-[250px]">
        Melanie Allan
      </div>
    </div>

    <div class="w-[300px] h-[400px] bg-gray-200 rounded-4xl relative">
      <img class="w-[300px] h-[400px] object-cover rounded-4xl" src="assets/images/girl9.jpg">
      <div class="absolute bg-opacity-80 backdrop-blur-sm border-2 text-white text-left pl-4
      bottom-6 mx-auto rounded-2xl left-0 right-0 flex flex-col 
      justify-center space-y-2 py-6 w-[250px]">
        Sue Cameron
      </div>
    </div>

    <div class="w-[300px] h-[400px] bg-gray-200 rounded-4xl relative">
      <img class="w-[300px] h-[400px] object-cover rounded-4xl" src="assets/images/girl10.jpg">
      <div class="absolute bg-opacity-80 backdrop-blur-sm border-2 text-white text-left pl-4
      bottom-6 mx-auto rounded-2xl left-0 right-0 flex flex-col 
      justify-center space-y-2 py-6 w-[250px]">
        Theresa Bell
      </div>
    </div>

  </div>
</div>